.product{
    display: flex;
    background-color: #fff;
    flex-direction: column; 
    min-width: 100px;
    width: 100%;
    margin: 10px;
    z-index: 1;
    align-items: center;
    padding: 20px;
    min-height: 300px;
}
.product__info{
    height: 100px;
    margin-bottom: 15px;
}
.product__price{
    margin-top: 5px;
}

.product__rating{
    display: flex;
}

.product img{
    width: 100%;
    max-height: 200px;
    object-fit: contain;
    margin-bottom: 20px;
}

.product button{
    border: 1px solid;
    background-color: #f0c14b;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
}